<section class="featured_section">
    <div class="container d-lg-flex flex-row justify-content-aorund ">
        <div class = "text-center mx-3"><h5>Featured in</h5></div>
        <div class = "text-center mx-4 mb-2"><img src="/static/logoipsum.webp" alt="" class="featured_img"></div>
        <div class = "text-center mx-4 mb-2"><img src="/static/logoipsum2.webp" alt="" class="featured_img"></div>
        <div class = "text-center mx-4 mb-2"><img src="/static/logoipsum3.webp" alt="" class="featured_img"></div>
        <div class = "text-center mx-4 mb-2"><img src="/static/logoipsum4.webp" alt="" class="featured_img"></div>
        <div class = "text-center mx-4 mb-2"><img src="/static/logoipsum5.webp" alt="" class="featured_img"></div>
        
    </div>

</section>