<footer class="footer">
  <hr class="my-0" />
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <p>
          <a href="https://twitter.com/mi8guy" target="_blank">
            <i class="bi bi-twitter"> </i>
          </a>
          <a href="https://linkedin.com/in/viraj12" target="_blank">
            <i class="bi bi-linkedin"> </i>
          </a>
          <a href="https://github.com/viraj28" target="_blank">
            <i class="bi bi-github"> </i>
          </a>
        </p>
      </div>
      <p>Copyright &copy; 2023. <span style="color: red;">&hearts;</span> Viraj Nirbhavane</p>
    </div>
  </div>
</footer>
