<!-- Hero section -->
<section class="bg-main happy-section my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <h1 class="text-capitalize mb-4  py-2">Happy Customers​</h1>
                    <p class="mb-4">
                        Our website not only offers an awesome lineup of amazing travel destinations, but we’re also here to personally assist you through our contact form, making your trip planning experience a breeze!
                    </p>
                </div>
            </div>
            <!-- Hero section image -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="text-center ">
                    <img src="/static/happy_customers.webp" alt="" class="happy-img--section">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section ends -->