<!-- Hero section -->
<section class="bg-main bg-color hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <h1 class="text-capitalize mb-4  py-2">Wanderlust Hub: <br> Explore, Connect, Adventure</h1>
                    <p class="mb-4">
                        Get ready to explore your dream destinations with Trav Planner – where you can find endless travel possibilities and easily connect with us through our convenient contact form!
                    </p>
                    <div class="text-center w-100 text-md-start mb-5">
                        <button class="btn btn-primary px-3 py-2 text-capitalize">
                            <a href="#services" style="text-decoration: none; color: aliceblue;">View all services</a>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Hero section image -->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="text-center ">
                    <img src="/static/hero.webp" alt="" class="hero-img--section">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section ends -->


