<section class="services-section pb-5" id="services">
    <div class="container common-title fw-bold">
        <h2 class="common-heading">Our Services</h2>
        <hr class="w-25">
    </div>

    <div class="container mt-5">
        <div class="row gx-5 ">

            <div class="col-12 col-lg-4 d-flex flex-column">
                <img src="/static/lcs-_vgt-TiOEzty7dzE-unsplash_pCkwD0Cf.webp" classs = "img-fluid" width="100%" alt="">
                <h3>
                    <a href="#">Plan Your Dream Getaway with Us!</a>
                </h3>
                <p>
                    Get ready for the ultimate adventure with our Trip Planning service - we'll handle all the details so you can relax and enjoy the ride!
                </p>

            </div>
            <div class="col-12 col-lg-4 d-flex flex-column">
                <img src="/static/norbert-kundrak-iVcZslikJBE-unsplash_pCkwD0Cf.webp" classs = "img-fluid" width="100%" alt="">
                <h3>
                    <a href="#">Discover Your Dream Destinations Today!</a>
                </h3>
                <p>
                    Discover your next adventure with our destination listing service, featuring the best travel spots worldwide!                </p>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column">
                <img src="/static/pexels-santiago-pagnotta-1702624_pCkwD0Cf.webp" classs = "img-fluid" width="100%" alt="">
                <h3>
                    <a href="#">Get in touch for epic adventures!</a>
                </h3>
                <p>
                    Stay connected with friends and family by easily reaching out to them through our convenient and user-friendly contact service.
                </p>
            </div>
        </div>
    </div>
</section>